
/.validation/
/scripts/codespaces/__pycache__/
/scripts/takeover/PatcherNative*/bin/
/scripts/takeover/PatcherNative*/obj/
/scripts/codespaces/InspectMethod/bin/
/scripts/codespaces/InspectMethod/obj/
